/**
 * You are inside the CSS selector of your component
 *
 * Try to add CSS properties direct below, eg:
 * background-color: red;
 */

& {
    font-size: 16px;
    color: @color-2;

    #footer {
        border-top: 1px solid @color-3;
        padding: 52px 0;
    }

    .container {
        overflow: hidden;
    }

    .fit-grid {
        .fit-align-center;
    }

    .block {
        .fit-w-4;
    }

    .copyright {
        display: block;
        text-align: center;
    }

    .network {
        float: right;
        display: flex;
        align-items: center;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .network__item {
        margin: 0 25px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .network__link {
        display: block;
    }

    .network__link--linkedin {
        width: 20px;
        height: 20px;
    }

    .network__link--facebook {
        width: 11px;
        height: 23px;
    }

    .network__link--twitter {
        width: 20px;
        height: 23px;
    }

    @media (max-width: 767px) {
        #footer {
            padding: 26px 0;
        }

        .fit-grid {
            flex-direction: column;
        }

        .block {
            .fit-w-12;
            .fit-justify-center;
            display: flex;
        }

        .copyright {
            margin: 15px 0;
        }

        .network {
            margin: 15px 0;
            float: none;
        }
    }
}