@font-face {
    font-family: 'karla-regular';
    src: url('@{path-font}/karla-regular.eot');
    src: url('@{path-font}/karla-regular.eot?#iefix') format('embedded-opentype'),
         url('@{path-font}/karla-regular.woff') format('woff'),
         url('@{path-font}/karla-regular.ttf') format('truetype'),
         url('@{path-font}/karla-regular.svg#karla-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('@{path-font}/poppins-bold.eot');
    src: url('@{path-font}/poppins-bold.eot?#iefix') format('embedded-opentype'),
         url('@{path-font}/poppins-bold.woff') format('woff'),
         url('@{path-font}/poppins-bold.ttf') format('truetype'),
         url('@{path-font}/poppins-bold.svg#poppins-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
