// PATHS
@path-font:             '../fonts';
@path-img:              '../images';

@font-base:             'karla-regular', Helvetica, sans-serif;
@font-featured:         'poppins-bold', Arial, sans-serif;

@color-1:               #ffffff;
@color-2:               #333;
@color-3:               #e4e4e6;
@color-4:               #535358;

